/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-madeit-block-container  {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 576px) {
        max-width: 540px;
    }

    @media (min-width: 768px) {
        max-width: 720px;
    }

    @media (min-width: 992px) {
        max-width: 960px;
    }

    @media (min-width: 1200px) {
        max-width: 1140px;
    }

    &.container-fluid {
        width: 100%;
        max-width: 100%;
    }
}

.block-editor-block-list__block > [data-align=container],
.editor-block-list__block[data-align=container] {
    @media (min-width: 576px) {
        max-width: 540px;
    }

    @media (min-width: 768px) {
        max-width: 720px;
    }

    @media (min-width: 992px) {
        max-width: 960px;
    }

    @media (min-width: 1200px) {
        max-width: 1140px;
    }
}

.editor-block-list__layout [data-type="madeit/block-container"].editor-block-list__block>.editor-block-list__block-edit::before{outline:1px solid #007cba}
body.admin-color-sunrise .editor-block-list__layout [data-type="madeit/block-container"].editor-block-list__block>.editor-block-list__block-edit::before{outline:1px solid #837425}
body.admin-color-ocean .editor-block-list__layout [data-type="madeit/block-container"].editor-block-list__block>.editor-block-list__block-edit::before{outline:1px solid #5e7d5e}
body.admin-color-midnight .editor-block-list__layout [data-type="madeit/block-container"].editor-block-list__block>.editor-block-list__block-edit::before{outline:1px solid #497b8d}
body.admin-color-ectoplasm .editor-block-list__layout [data-type="madeit/block-container"].editor-block-list__block>.editor-block-list__block-edit::before{outline:1px solid #523f6d}
body.admin-color-coffee .editor-block-list__layout [data-type="madeit/block-container"].editor-block-list__block>.editor-block-list__block-edit::before{outline:1px solid #59524c}
body.admin-color-blue .editor-block-list__layout [data-type="madeit/block-container"].editor-block-list__block>.editor-block-list__block-edit::before{outline:1px solid #417e9b}
body.admin-color-light .editor-block-list__layout [data-type="madeit/block-container"].editor-block-list__block>.editor-block-list__block-edit::before{outline:1px solid #007cba}

@media (min-width:600px){
    [data-type="madeit/block-container"].editor-block-list__block .editor-block-mover,.editor-block-list__block.is-multi-selected .editor-block-mover,.editor-block-list__block.is-selected .editor-block-mover{z-index:80}
}