/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-madeit-block-row-simple  {
    /*display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    */
    
    .editor-block-list__layout {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
    
    .editor-inner-blocks {
        width: 100%;
    }
}

.edit-post-visual-editor .editor-block-list__block[data-row=row] {
    width: 100%;
    max-width: 100%;
}

[data-type="madeit/block-row-simple"] {
    max-width: 100%;
}

.editor-block-list__layout [data-type="madeit/block-row-simple"].editor-block-list__block>.editor-block-list__block-edit::before{outline:1px solid #007cba}
body.admin-color-sunrise .editor-block-list__layout [data-type="madeit/block-row-simple"].editor-block-list__block>.editor-block-list__block-edit::before{outline:1px solid #837425}
body.admin-color-ocean .editor-block-list__layout [data-type="madeit/block-row-simple"].editor-block-list__block>.editor-block-list__block-edit::before{outline:1px solid #5e7d5e}
body.admin-color-midnight .editor-block-list__layout [data-type="madeit/block-row-simple"].editor-block-list__block>.editor-block-list__block-edit::before{outline:1px solid #497b8d}
body.admin-color-ectoplasm .editor-block-list__layout [data-type="madeit/block-row-simple"].editor-block-list__block>.editor-block-list__block-edit::before{outline:1px solid #523f6d}
body.admin-color-coffee .editor-block-list__layout [data-type="madeit/block-row-simple"].editor-block-list__block>.editor-block-list__block-edit::before{outline:1px solid #59524c}
body.admin-color-blue .editor-block-list__layout [data-type="madeit/block-row-simple"].editor-block-list__block>.editor-block-list__block-edit::before{outline:1px solid #417e9b}
body.admin-color-light .editor-block-list__layout [data-type="madeit/block-row-simple"].editor-block-list__block>.editor-block-list__block-edit::before{outline:1px solid #007cba}

@media (min-width:600px){
    [data-type="madeit/block-row-simple"].editor-block-list__block .editor-block-mover,.editor-block-list__block.is-multi-selected .editor-block-mover,.editor-block-list__block.is-selected .editor-block-mover{z-index:80}
}