/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-content-column {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
}


// Styles for the frontend only
.madeit-block-content--frontend {
    --container-offset: 0px;

    @media (min-width: 576px) {
        --container-offset: calc((100vw - 540px) / 2);
    }

    @media (min-width: 768px) {
        --container-offset: calc((100vw - 720px) / 2);
    }

    @media (min-width: 992px) {
        --container-offset: calc((100vw - 960px) / 2);
    }

    @media (min-width: 1200px) {
        --container-offset: calc((100vw - 1140px) / 2);
    }

    //! voorlopig disabled, container gaat maar tot 1200px.
    // @media (min-width: 1400px) {
    //     --container-offset: calc((100vw - 1320px) / 2);
    // }

    .madeit-container-row  {
        margin-left: 0 !important;
        margin-right: 0 !important;

        .wp-block-madeit-block-content-column.keep-max-container-size:first-child:not(.wp-block-madeit-block-content .madeit-container-row[data-madeit-dir="row-reverse"] .wp-block-madeit-block-content-column.keep-max-container-size:first-child),
        .madeit-container-row[data-madeit-dir="row-reverse"] .wp-block-madeit-block-content-column.keep-max-container-size:last-child:not(.max-start-size) {
            padding-left: calc(var(--container-offset) + var(--madeit-row-gap-desktop, 0px)) !important;
            max-width: none !important;
        }
        .wp-block-madeit-block-content-column.keep-max-container-size:last-child:not(.wp-block-madeit-block-content .madeit-container-row[data-madeit-dir="row-reverse"] .wp-block-madeit-block-content-column.keep-max-container-size:last-child):not(.max-start-size),
        .madeit-container-row[data-madeit-dir="row-reverse"] .wp-block-madeit-block-content-column.keep-max-container-size:first-child:not(.max-end-size) {
            padding-right: calc(var(--container-offset) + var(--madeit-row-gap-desktop, 0px)) !important;
            max-width: none !important;
        }

        .wp-block-madeit-block-content-column {
        
            .madeit-content-column__inner {
                min-height: var(--madeit-min-height-desktop, 100%);
                align-content: var(--madeit-align-items-desktop, flex-start);
                padding-inline: 15px;
            
                @media (max-width: 991px) {
                    min-height: var(--madeit-min-height-tablet, 100%);
                    align-content: var(--madeit-align-items-tablet, flex-start);
                }
            
                @media (max-width: 575px) {
                    min-height: var(--madeit-min-height-mobile, 100%);
                    align-content: var(--madeit-align-items-mobile, flex-start);
                }
            }
        }
    }

}


// Styles for the editor only
.block-editor-block-list__block.wp-block-madeit-block-content {

    /* Container max width one side. - BACKEND */
    &[data-madeit-dir]:not([data-madeit-dir="row-reverse"]) [data-type="madeit/block-content-column"].wp-block-madeit-block-content-column.keep-max-container-size:first-child:not(.max-end-size),
    &[data-madeit-dir="row-reverse"] [data-type="madeit/block-content-column"].wp-block-madeit-block-content-column.keep-max-container-size:last-child:not(.max-end-size) {
        --sidebar: 90px;
        --container-offset-maxContainer: 0px;

        @media (min-width: 576px) {
            --container-offset-maxContainer: calc((100vw - 540px) / 2 - var(--sidebar)) !important;
        }

        @media (min-width: 768px) {
            --container-offset-maxContainer: calc((100vw - 720px) / 2 - var(--sidebar)) !important;
        }

        @media (min-width: 992px) {
            --container-offset-maxContainer: calc((100vw - 960px) / 2 - var(--sidebar)) !important;
        }

        @media (min-width: 1200px) {
            --container-offset-maxContainer: calc((100vw - 1140px) / 2 - var(--sidebar)) !important;
        }

        @media (min-width: 1400px) {
            --container-offset-maxContainer: calc((100vw - 1320px) / 2 - var(--sidebar)) !important;
        }

        padding-left: var(--container-offset-maxContainer) !important;
    }
    &[data-madeit-dir]:not([data-madeit-dir="row-reverse"]) [data-type="madeit/block-content-column"].wp-block-madeit-block-content-column.keep-max-container-size:last-child:not(.max-start-size),
    &[data-madeit-dir="row-reverse"] [data-type="madeit/block-content-column"].wp-block-madeit-block-content-column.keep-max-container-size:first-child:not(.max-end-size) {
        --sidebar: 90px;
        --container-offset-maxContainer: 0px;

        @media (min-width: 576px) {
            --container-offset-maxContainer: calc((100vw - 540px) / 2 - var(--sidebar)) !important;
        }

        @media (min-width: 768px) {
            --container-offset-maxContainer: calc((100vw - 720px) / 2 - var(--sidebar)) !important;
        }

        @media (min-width: 992px) {
            --container-offset-maxContainer: calc((100vw - 960px) / 2 - var(--sidebar)) !important;
        }

        @media (min-width: 1200px) {
            --container-offset-maxContainer: calc((100vw - 1140px) / 2 - var(--sidebar)) !important;
        }

        @media (min-width: 1400px) {
            --container-offset-maxContainer: calc((100vw - 1320px) / 2 - var(--sidebar)) !important;
        }

        padding-right: var(--container-offset-maxContainer) !important;
    }
}