

.madeit-revision-preview {

    overflow:hidden;
    width:100%;

}

.revision-wrapper {
    position: relative;
    display: flex;
    gap: 40px;
    padding: 40px;
    max-width: calc(100% - 40px);
    overflow: hidden;
}

.revision-column {
    background:white;
    border:1px solid #ddd;
    padding:30px 10px;
    border-radius:12px;
    flex: 1;
    max-width: 50%;
}

.revision-column h3 {
    margin-top:0;
    margin-bottom:20px;
}

.madeit-revision-preview .wp-block {
    max-width: none;
}

.madeit-preview-frame {

    width:1400px;
    height:1200px;
    border:0;
    transform-origin:top left;

}

.madeit-diff.removed {
    border-left:5px solid #dc2626;
    background:#fee2e2;
}


.madeit-diff.changed {
    border-left:5px solid #f59e0b;
    background:#fef3c7;
}


.madeit-diff.added {
    border-left:5px solid #16a34a;
    background:#dcfce7;
}
