/* Layout */
.madeit-setup-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    background: #f5f7fa;
    margin: 20px 0;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 10px 40px rgba(0,0,0,0.08);
}
.madeit-setup-container {
    max-width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70vh;
    max-height: 70vh;
    overflow: scroll;
    position: relative;
}
.madeit-logo {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
}

/* Content */
.madeit-setup-content {
    flex: 1;
    background: #fff;
    padding: 40px 40px 0 40px;
    align-content: center;
}

.madeit-setup-content h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.madeit-setup-content p {
    font-size: 16px;
    color: #6b7280;
    margin-bottom: 30px;
}

/* Buttons */
.madeit-setup-content .button-primary {
    background: #476a8a;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 6px;
    box-shadow: 0 6px 18px rgba(58, 81, 129, 0.3);
    margin: auto auto 50px auto;
}
.madeit-setup-content .button-primaryGroup {
    margin: auto auto 50px auto;
    align-items: center;
    display: flex;
    gap: 30px;
}
.madeit-setup-content .button-primaryGroup .button-primary {
    margin: auto auto auto auto;
}

.madeit-setup-content .button-primary:hover {
    background: #38546d;
    color: #ffffff;
}


/* Progessbar */

#progressbar {
    margin-bottom: 30px;
    /* overflow: hidden; */
    color: lightgrey;
    pointer-events: none;
    margin: 30px auto;
    display: flex;
    counter-reset: step;
}

#progressbar .active {
    color: #476a8a;
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 20%;
    min-width: 139px;
    text-align: center;
    float: left;
    position: relative;
    font-weight: 400;
    counter-increment: step;
}

#progressbar li:before {
    content: counter(step);
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px;
    position: relative;
    z-index: 1;
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: 0;
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #476a8a;
}

#progressbar li.completed:before,
#progressbar li.completed:after {
    background: #476a8a;
}
#progressbar .completed {
    color: #476a8a;
}
