.wp-block-madeit-block-card {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 0.25rem;

	--madeit-card-content-padding-top: 1.25rem;
	--madeit-card-content-padding-right: 1.25rem;
	--madeit-card-content-padding-bottom: 1.25rem;
	--madeit-card-content-padding-left: 1.25rem;

	.card-header {
		padding: 0.75rem 1.25rem;
		margin-bottom: 0;
		background-color: rgba(0, 0, 0, 0.03);
		border-bottom: 1px solid rgba(0, 0, 0, 0.125);

		h1,
		h2,
		h3,
		h4,
		h5 {
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	.card-header:first-child {
		border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
	}

	.card-body {
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
		min-height: 1px;
		padding: var(--madeit-card-content-padding-top)
			var(--madeit-card-content-padding-right)
			var(--madeit-card-content-padding-bottom)
			var(--madeit-card-content-padding-left);
	}


	&.has-media-bleed .card-body .block-editor-block-list__layout > :where(figure.wp-block-image, div.wp-block-cover, figure.wp-block-post-featured-image):not(.wp-block-group *) {
		margin-left: calc(var(--madeit-card-content-padding-left) * -1);
		margin-right: calc(var(--madeit-card-content-padding-right) * -1);
		max-width: none;
		width: calc(
			100% + var(--madeit-card-content-padding-left) +
				var(--madeit-card-content-padding-right)
		);
	}

	&.has-media-bleed .card-body .block-editor-block-list__layout > :where(figure.wp-block-image, div.wp-block-cover, figure.wp-block-post-featured-image):first-child:not(.wp-block-group *) {
		margin-top: calc(var(--madeit-card-content-padding-top) * -1);
	}

	&.has-media-bleed .card-body .block-editor-block-list__layout > :where(figure.wp-block-image, div.wp-block-cover, figure.wp-block-post-featured-image):last-child:not(.wp-block-group *),
	&.has-media-bleed .card-body .block-editor-block-list__layout > :where(figure.wp-block-image, div.wp-block-cover, figure.wp-block-post-featured-image):nth-last-child(2):not(.wp-block-group *) {
		margin-bottom: calc(var(--madeit-card-content-padding-bottom) * -1);
	}

	&.has-media-bleed .card-body .block-editor-block-list__layout > :where(figure.wp-block-image) {
		display: block;
	}

	&.has-media-bleed .card-body .block-editor-block-list__layout > :where(figure.wp-block-image) img {
		display: block;
		width: 100%;
		height: auto;
	}
}